# Ignore the streamlit_app directory
streamlit_app/

# Ignore Python bytecode files
*.pyc
*.pyo
_pycache_/

# Ignore virtual environment
venv/
env/

# Ignore environment variables file
.env

# Ignore pyvenv.cfg files
pyvenv.cfg
